.dashboard-navbar {
  background-color: #ffffff;
  height: 60px;
  z-index: 1000;
  width: 100%;
  position: absolute;
}

.dashboard-container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 18px -8px lightgrey;
  justify-content: center;
}

.content-container {
  background-color: white;
  height: 80%;
  min-height: 585px;
  border-radius: 5px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
}

.dashboard-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 4px 0px 7px 10px;
  height: 35px;
}

.logout-link {
  flex: 0.89;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo-link {
  flex: 0.1;
}

.logout-btn {
  background-color: transparent;
  color: #4b9ddd;
  border-radius: 5px;
  height: 29px;
  border: 1px solid lightgray;
  width: 80px;
}

.logout-btn:hover {
  background-color: #4b9ddd;
  color: white;
  border: 1px solid #4b9ddd;
}

.completion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.completion-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.completion-checkpoints-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.completion-checkpoints {
  font-size: 14pt;
  list-style: none;
  padding: 0;
}

.completion-checkpoints-item {
  margin: 10px;
}

.check {
  font-size: 20pt;
  color: #2ca02c;
  margin-right: 10px;
}

.check-disabled {
  font-size: 20pt;
  color: gray;
  margin-right: 10px;
}

.completion-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.completion-info p {
  font-weight: bold;
  font-size: 11pt;
}

.completion-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.completion-button-container button {
  background-color: #4b9ddd;
  color: white;
  border-radius: 5px;
  border: 1px solid #4b9ddd;
  height: 40px;
  width: 90%;
  font-size: 15pt;
}

.completion-button-container button:hover {
  background-color: #395dad;
  color: white;
  border: 1px solid #395dad;
}
