.requirements-container {
  display: flex;
  flex-direction: column;
  height: 94%;
  padding: 10px;
}

.requirements-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0% 5% 0%;
}

.requirements-slider-container {
  padding: 10%;
}

.slider-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-text-label-left {
  width: 100px;
}

.slider-text-label-right {
  width: 131px;
}

.form-row {
  margin: 15px;
}

.label-container {
  padding: 5px;
}

/* Slider CSS */

.rc-slider-rail {
  height: 10px;
}

.rc-slider-step {
  height: 10px;
}

.rc-slider-track {
  height: 10px;
  background-color: #4b9ddd;
}

.rc-slider-handle {
  width: 20px;
  height: 20px;
  border: solid 2px #4b9ddd;
}

.rc-slider-handle:hover {
  border: 2px solid #4b9ddd;
}
