/* App, Organize later */

.login-form-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-image: url("/assets/login-register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

.login-form-container::before {
  opacity: 0;
}

.login-form {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  display: flex;
  max-width: 400px;
  width: 100%;
  max-height: fit-content;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
  margin: 75px 15px 0px;
}

.login-form a {
  text-decoration: none;
}

.login-form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: #7e9ede;
  padding-left: 38%;
}

.auth-input {
  height: 35px;
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid #0040bf;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 9pt;
  color: #7e9ede;
}

.auth-input,
.submit-btn:focus {
  outline: none;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.submit-btn {
  background-color: #0040bf;
  color: white;
  width: 80%;
  height: 35px;
  border-radius: 5px;
  float: right;
  border: none;
  font-size: 11pt;
  font-weight: bold;
  margin-top: 25px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #0040f3;
}

.forgot-passw {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 10pt;
}

.register-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 10pt;
}

.logo-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
