.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  cursor: pointer;
}

.forms-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 55px;
}

.forms-button {
  background-color: #4b9ddd;
  color: white;
  border: 1px solid #4b9ddd;
  border-radius: 5px;
  height: 36px;
  width: 15%;
}

.forms-button:hover {
  background-color: #395dad;
  color: white;
  border: 1px solid #395dad;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker-manager {
  width: calc(100% - 41px);
}
